

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum
        esse atque culpa, iure quae ex asperiores optio, sunt minus ab
        exercitationem dicta a. Tempore beatae ducimus voluptatibus minus saepe.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur,
        ratione.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum
        esse atque culpa, iure quae ex asperiores optio, sunt minus ab
        exercitationem dicta a. Tempore beatae ducimus voluptatibus minus saepe.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur,
        ratione.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum
        esse atque culpa, iure quae ex asperiores optio, sunt minus ab
        exercitationem dicta a. Tempore beatae ducimus voluptatibus minus saepe.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur,
        ratione.
      </p>
    </div>
  </div>
</div>
